/* Set the container to a grid layout */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Style the criminal information in the left column */
.text {
  font-size: 18px;
  margin: 0;
}

/* Style the dropdowns in the right column */
label {
  display: block;
  margin-bottom: 10px;
}
/* body {
  background-color: blue;
} */
select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  margin-bottom: 20px;
}