/* Set a background color for the body */
body {
    background-color: #f2f2f2;
  }
  
  /* Style the header */
  h1 {
    font-size: 2.5rem;
    margin: 1rem;
  }
  a.logout {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: lightblue;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: lightblue;
    border-radius: 5px;
    transition: background-color 0.2s;
  }

  a:hover {
    background-color: #3e8e41;
  }
  
  a.logout:hover {
    background-color: #3e8e41;
  }
  a.home {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: lightblue;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  a.home:hover {
    background-color: #3e8e41;
  }
  /* Style the paragraphs */
  p {
    font-size: 1.2rem;
    margin: 0.5rem;
  }
  
  /* Style the dropdown */
  label {
    font-size: 1.2rem;
    margin: 1rem;
    display: block;
  }
  
  select {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 0.5rem;
  }
  
  /* Style the links */
  a {
    text-decoration: none;
    color: #333;
    margin: 1rem;
  }
  
  /* Style the logout link */
  .logout {
    float: right;
  }
  
  /* Style the home link */
  img {
    float: left;
    margin: 1rem;
  }
  
  /* Add a box shadow to the dropdown */
  select:focus {
    box-shadow: 0 0 5px #c4c4c4;
    outline: none;
  }