<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>City Jail Database</title>
  </head>
  <body>
    <p>Appeals</p>
    <p>Appeal ID: {{data.Appeal_ID[0]}}</p>
    <p>Associated Crime:  {{data.Crime_ID[0]}}</p>
    <p>Filing Date:   {{data.Filing_date[0]}}</p>
    <p>Hearing Date:  {{data.Hearing_date[0]}}</p>
    <label for="yes-no-checkbox">Status</label>
    <input type="checkbox" id="yes-no-checkbox" name="yes-no-checkbox" disabled {% if data.Status[0] == "P" %}checked{% endif %}>
    <label for="yes-no-checkbox" value="Active">Pending</label>
    <input type="checkbox" id="yes-no-checkbox" name="yes-no-checkbox" disabled {% if data.Status[0] == "A" %}checked{% endif %}>
    <label for="yes-no-checkbox" value="Inactive">Approved</label>
    <input type="checkbox" id="yes-no-checkbox" name="yes-no-checkbox" disabled {% if data.Status[0] == "D" %}checked{% endif %}>
    <label for="yes-no-checkbox" value="Inactive">Disapproved</label>
  </body>
</html>