<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/criminal1.css') }}">
    <title>City Jail Database</title>
  </head>
  <body>
    <div class="container">
      <div>
        <a href="/home"><img src="{{ url_for('static', filename='images/home.png') }}" alt="Home"></a>
        <a href="/criminals/add">Add Criminal</a>
        <a href="/criminals/delete/{{data.Criminal_ID[0]}}">Delete Criminal</a>

        <h1>Criminals</h1>
        <p class="text">Criminal ID: {{data.Criminal_ID[0]}}</p>
        <a href="/criminals/{{data.Criminal_ID[0]}}/editfirst">Change First Name</a>

        <p class="text">Name: {{data.First[0]}} {{data.Last[0]}}</p>
        <p class="text">Address: {{data.Street[0]}}, {{data.City[0]}}, {{data.State[0]}}, {{data.Zip[0]}}</p>
        <p class="text">Phone:  {{data.Phone[0]}}</p>

        
        <div style="display:flex;">
          <label for="yes-no-checkbox" style="margin-right:10px;">Violent Offender Status:</label>
          <input type="checkbox" id="yes-no-checkbox" name="yes-no-checkbox"  {% if data.V_status[0] == "Y" %}checked{% endif %}  readonly disabled style="margin-right:10px;">
          <label for="yes-no-checkbox" style="margin-right:10px;">Yes</label>
          <input type="checkbox" id="no-checkbox" name="no-checkbox" {% if data.V_status[0] == "N" %}checked{% endif %} readonly disabled style="margin-right:10px;">
          <label for="no-checkbox">No</label>
        </div>


        <div style="display:flex;">
          <label for="yes-no-checkbox2" style="margin-right:10px;">Probation Status:</label>
          <input type="checkbox" id="yes-no-checkbox2" name="yes-no-checkbox2" {% if data.P_status[0] == "Y" %}checked{% endif %} readonly disabled style="margin-right:10px;">
          <label for="yes-no-checkbox2" style="margin-right:10px;">Yes</label>
          <input type="checkbox" id="no-checkbox2" name="no-checkbox2" {% if data.P_status[0] == "N" %}checked{% endif %} readonly disabled style="margin-right:10px;">
          <label for="no-checkbox2">No</label>
        </div>

      </div>
      <div>
        <a class = "logout" href="/logout">Logout</a>
        <label for="my-dropdown">Associated Crimes</label>
        <select id="my-dropdown" name="my-dropdown">
          {% for crime in crimes.iterrows() %}
          <option>{{ crime[1][0] }}</option>
          {% endfor %}
        </select>
        <label for="my-dropdown2">Associated Sentences</label>
        <select id="my-dropdown2" name="my-dropdown2">
          {% for sentence in sentences.iterrows() %}
          <option>{{ sentence[1][0] }}</option>
          {% endfor %}
        </select>
        {% if power == "M" %}
        <a href="/criminals/{{data.Criminal_ID[0]}}/addalias">Add</a>
        <form action="/criminals/{{data.Criminal_ID[0]}}" method="POST">
          <input type="submit" value="Delete">
        </form>
        {% endif %}
          <label for="my-dropdown3">Aliases</label>
          <select id="my-dropdown3" name="dropdown" style="margin-right:10px;">
            {% for alias in aliases.iterrows() %}
              <option>{{ alias[1][2] }}</option>
            {% endfor %}
          </select>
      </div>
    </div>
  </body>
</html>