<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>City Jail Database</title>
  </head>
  <body>
    <p>Crimes</p>
    <p>Crime ID: {{data.Crime_ID[0]}}</p>
    <p>Associated Criminal:{{data.Criminal_ID[0]}} </p>
    <p>Classification</p>
    <p>Date Charged: </p>
    <p>Status: </p>
    <p>Hearing Date: </p>
    <p>Appeal Cutoff Date: </p>
    <label for="my-dropdown">Associated Charges</label>
    <select id="my-dropdown" name="my-dropdown">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
    <label for="my-dropdown2">Associated Officers</label>
    <select id="my-dropdown2" name="my-dropdown2">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
    <label for="my-dropdown3">Associated Appeals</label>
    <select id="my-dropdown3" name="my-dropdown3">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </body>
</html>


