<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>City Jail Database</title>
  </head>
  <body>
    <p>Crime Charges</p>
    <p>Charge ID: {{data.Charge_ID[0]}}</p>
    <p>Fine Amount: {{data.Fine_amount[0]}}</p>
    <p>Amount Paid:  {{data.Amount_paid[0]}}</p>
    <p>Court Fee: {{data.Court_fee[0]}}</p>
    <p>Pay Due Date: {{data.Pay_due_date}}</p>
    <p>Associated Crime: {{data.Crime_ID}}</p>
    <p>Crime Codes: </p>
    <label for="my-dropdown">Codes</label>
    <select id="my-dropdown" name="my-dropdown">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
    
    <label for="yes-no-checkbox">Charge Status</label>
    <input type="checkbox" id="yes-no-checkbox" {% if data.Status[0] == "PD" %}checked{% endif %} name="yes-no-checkbox" disabled>
    <label for="yes-no-checkbox" value="Active">Pending</label>
    <input type="checkbox" id="yes-no-checkbox" name="yes-no-checkbox" {% if data.Status[0] == "GL" %}checked{% endif %} disabled>
    <label for="yes-no-checkbox" value="Inactive">Guilty</label>
    <input type="checkbox" id="yes-no-checkbox" name="yes-no-checkbox" {% if data.Status[0] == "NG" %}checked{% endif %} disabled>
    <label for="yes-no-checkbox" value="Inactive">Not Guilty</label>

  </body>
</html>