<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crime.css') }}">
    <title>City Jail Database</title>
  </head>
  <body>
    <a href="/home"><img src="{{ url_for('static', filename='images/home.png') }}" alt="Home"></a>
    <a class = "logout" href="/logout">Logout</a>
    <a href="/crimes/add">Add Crime</a>
    <a href="/crimes/delete/{{data.Crime_ID[0]}}">Delete Crime</a>
    <h1>Crimes</h1>
    <p>Crime ID: {{data.Crime_ID[0]}}</p>
    <p>Associated Criminal:{{data.Criminal_ID[0]}} </p>
    <p>Classification:{{data.Classification[0]}}</p>
    <p>Date Charged: {{data.Date_charged[0]}}</p>
    <p>Status: {{data.Status[0]}}</p>
    <p>Hearing Date: {{data.Hearing_date[0]}}</p>
    <p>Appeal Cutoff Date: {{data.Appeal_cut_date[0]}}</p>
    <label for="my-dropdown3">Associated Appeals</label>
    <select id="my-dropdown3" name="my-dropdown3">
      {% for appeal in appeals.iterrows() %}
          <option>{{ appeal[1][0] }}</option>
          {% endfor %}
    </select>
  </body>
</html>


