<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>City Jail Database</title>
  </head>
  <body>
    <p>Criminals</p>
    <p>Criminal ID: {{data.Criminal_ID[0]}}</p>
    <p>Name: {{data.Name}}</p>
    <p>Address: {{data.Address}}</p>
    <p>Phone:  {{data.Phone}}</p>
    <p>Hearing Date: {{data.Hearing_date}}</p>
    <p>Appeal Cutoff Date: {{data.Appeal_cut_date}}</p>
    <label for="my-dropdown">Associated Crimes</label>
    <select id="my-dropdown" name="my-dropdown">
      {% for crime in crimes.iterrows() %}
      <option>{{ crime[1][2] }}</option>
    {% endfor %}
    </select>
    <label for="my-dropdown2">Associated Sentances</label>
    <select id="my-dropdown2" name="my-dropdown2">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
    <label for="my-dropdown3">Aliases</label>
    <select id="my-dropdown3" name="my-dropdown3">
      {% for alias in aliases.iterrows() %}
        <option>{{ alias[1][2] }}</option>
      {% endfor %}
    </select>
    <label for="yes-no-checkbox">Violent Offender Status:</label>
    <input type="checkbox" id="yes-no-checkbox" name="yes-no-checkbox">
    <label for="yes-no-checkbox" value="yes">Yes</label>
    <input type="checkbox" id="yes-no-checkbox" name="yes-no-checkbox">
    <label for="yes-no-checkbox" value="no">No</label>
    <label for="yes-no-checkbox2">Probation Status:</label>
    <input type="checkbox" id="yes-no-checkbox2" name="yes-no-checkbox2">
    <label for="yes-no-checkbox2" value="yes">Yes</label>
    <input type="checkbox" id="yes-no-checkbox2" name="yes-no-checkbox2">
    <label for="yes-no-checkbox2" value="no">No</label>
  </body>
</html>