<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_home.css') }}">
    <title>City Jail Database</title>
   
  </head>
  <body>
    <!-- Insert a navbar that also tells user what level of power they have (viewing / editing) -->
    <h1>Criminal Database</h1>
    <h2>This is a crime database. Use the search bar below to get information on 
      criminals, police officers, or crimes.</h2>

    <p ></p>
    <form action="/search", method="POST">
      <label for="search-type">What are you searching for:</label>
      <select id="search-type" name="search-type">
        <option value="criminals,First">Criminal</option>
        <option value="officers,First">Officer</option>
        <option value="probation officer,First">Probation Officer</option>
        <option value="Crimes,Crime_id">Crimes</option>
        <option value="sentences,Sentence_id">Sentences</option>
        <option value="Appeals,Appeal_id">Appeals</option>

        
      </select>
      <label for="input">Search the Database:</label>
      <input type="text" name="search">
      <input type="submit" value="search">
    </form>
    
  </body>
</html>