<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/officer4.css') }}">
    <title>City Jail Database</title>
  </head>
  <body>
    <a href="/home"><img src="{{ url_for('static', filename='images/home.png') }}" alt="Home"></a>
    <a class = "logout" href="/logout">Logout</a>
    
    {% if power == "M" %}
    <a href="/officers/add">Add Officer</a>
      <a href="/officers/delete/{{data.Officer_ID[0]}}">Delete Officer</a>
    {% endif %}
      
      <h1>Officers</h1>
      <div class="officer-info">
        <p class="officer-id">Officer ID: {{data.Officer_ID[0]}}</p>
        
        <a href="/officers/{{data.Officer_ID[0]}}/editfirst">Change First Name</a>
        <p class="officer-name">Name: {{data.First[0]}} {{data.Last[0]}}</p>
        <p class="officer-phone">Phone: {{data.Phone[0]}}</p>
        <p class="officer-badge">Badge: {{data.Badge[0]}}</p>
        <p class="officer-precinct">Precinct: {{data.Precinct[0]}}</p>
      </div>
      <div class="officer-status">
        <label for="yes-no-checkbox2">Status:</label>
        <input type="checkbox" id="yes-no-checkbox2" name="yes-no-checkbox2" {% if data.Status[0] == "A" %}checked{% endif %} = readonly disabled>
        <label for="yes-no-checkbox2" class="checkbox-label" value="Active">Active</label>
        <input type="checkbox" id="no-checkbox2" name="no-checkbox2" {% if data.Status[0] == "I" %}checked{% endif %} readonly disabled>
        <label for="no-checkbox2" class="checkbox-label" value="Inactive">Inactive</label>
      </div>
  
  </body>
</html>