<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prob1.css') }}">
    <title>City Jail Database</title>
  </head>
  <body>
    <h1>Probation Officers</h1>
    <p>Probation ID: {{data.Prob_ID[0]}}</p>
    <p>Name: {{data.First[0]}} {{data.Last[0]}}</p>
    <p>Phone:  {{data.Phone[0]}}</p>
    <p>Email: {{data.Email[0]}}</p>
    <p>Address: {{data.Street[0]}}, {{data.City[0]}}, {{data.State[0]}}, {{data.Zip[0]}}</p>
    <label for="my-dropdown">Associated Sentances</label>
    <select id="my-dropdown" name="my-dropdown">
      {% for sentence in sentences.iterrows() %}
      <option>{{ sentence[1][0] }}</option>
    {% endfor %}
    </select>
    
    <label for="yes-no-checkbox2" style="margin-right:10px;">Status:</label>
    <input type="checkbox" id="yes-no-checkbox2" name="yes-no-checkbox2" checked readonly disable style="margin-right:10px;">
    <label for="yes-no-checkbox2" style="margin-right:10px;"value = "Active">Yes</label>
    <input type="checkbox" id="no-checkbox2" name="no-checkbox2" readonly disable style="margin-right:10px;">
    <label for="no-checkbox2"value = "Inactive">No</label>

  </body>
</html>