<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sentences1.css') }}">
    <title>City Jail Database</title>
  </head>
  <body>
    <a class = "home" href="/home">Home</a>
    <a class = "logout" href="/logout">Logout</a>
    <h1>Sentence</h1>
    <p>Sentences: {{data.Sentence_ID[0]}}</p>
    <p>Associated Criminal: {{data.Criminal_ID[0]}}</p>
    <p>Start Date: {{data.Start_date[0]}}</p>
    <p>Violations: {{data.Violations[0]}}  </p>
    <p>End Date:  {{data.End_date}}</p>
    <p>Associated Probation Officer: {{data.Prob_ID[0]}}</p>
    <label for="my-dropdown">Associated Sentences</label>
    <label for="yes-no-checkbox">Sentence Type</label>
    <input type="checkbox" id="yes-no-checkbox" name="yes-no-checkbox" disabled {% if data.Type[0] == "J" %}checked{% endif %}>
    <label for="yes-no-checkbox" value="Active">Jail Period</label>
    <input type="checkbox" id="yes-no-checkbox" name="yes-no-checkbox" disabled {% if data.Type[0] == "H" %}checked{% endif %}>
    <label for="yes-no-checkbox" value="Inactive">House Arrest</label>
    <input type="checkbox" id="yes-no-checkbox" name="yes-no-checkbox" disabled {% if data.Type[0] == "P" %}checked{% endif %}>
    <label for="yes-no-checkbox" value="Inactive">Probation</label>

  </body>
</html>